asgiref==3.8.1
blinker==1.8.2
click==8.1.7
colorama==0.4.6
Django==5.1.2
Flask==3.0.3
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==3.0.1
pyee==11.1.1
slack_sdk==3.33.1
slackeventsapi==3.0.3
sqlparse==0.5.1
typing_extensions==4.12.2
tzdata==2024.2
Werkzeug==3.0.4
